
# NON GRADED INFERENTIAL STATISTIC


Muhammad Farhan Zahirsyah

Batch 10

---

## ASSIGMENT

- Lakukan hypothesis testing terhadap dataset.
- Ambil kesimpulan dari hasil analisa.

## Import Library

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib
import matplotlib.pyplot as plt
import scipy as sp
from scipy import stats


%matplotlib inline

## Data Loading

In [2]:
covid_df = pd.read_csv('covid_19_indonesia_time_series_all.csv')

In [3]:
covid_df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [4]:
covid_df.shape

(21759, 38)

In [5]:
num_columns = covid_df.select_dtypes(include=np.number).columns.tolist()
obj_columns = covid_df.select_dtypes(include=['object']).columns.tolist()

In [6]:
covid_df[num_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
New Cases,21759.0,3.912936e+02,2.074551e+03,0.000000,7.000000e+00,4.100000e+01,1.510000e+02,5.675700e+04
New Deaths,21759.0,1.322041e+01,7.648262e+01,0.000000,0.000000e+00,1.000000e+00,5.000000e+00,2.069000e+03
New Recovered,21759.0,3.773110e+02,1.999063e+03,0.000000,4.000000e+00,3.100000e+01,1.430000e+02,4.883200e+04
New Active Cases,21759.0,7.621674e-01,9.372135e+02,-25725.000000,-1.600000e+01,0.000000e+00,2.700000e+01,3.672600e+04
Total Cases,21759.0,8.525997e+04,3.685133e+05,1.000000,1.822500e+03,1.078000e+04,3.646450e+04,4.257243e+06
Total Deaths,21759.0,2.648289e+03,1.177601e+04,0.000000,5.000000e+01,2.830000e+02,1.050000e+03,1.438580e+05
Total Recovered,21759.0,7.671260e+04,3.403957e+05,0.000000,1.038500e+03,8.745000e+03,3.293250e+04,4.105680e+06
Total Active Cases,21759.0,5.899079e+03,2.751810e+04,-2306.000000,1.820000e+02,9.190000e+02,2.607500e+03,5.741350e+05
City or Regency,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Regencies,21759.0,2.416026e+01,6.870827e+01,1.000000,7.000000e+00,1.100000e+01,1.800000e+01,4.160000e+02
Total Cities,21145.0,5.872499e+00,1.647141e+01,1.000000,1.000000e+00,2.000000e+00,4.000000e+00,9.800000e+01
Total Districts,21759.0,4.204444e+02,1.199019e+03,44.000000,1.030000e+02,1.690000e+02,2.890000e+02,7.230000e+03
Total Urban Villages,21142.0,5.087405e+02,1.429128e+03,35.000000,9.900000e+01,1.750000e+02,3.320000e+02,8.488000e+03
Total Rural Villages,21117.0,4.490348e+03,1.264756e+04,275.000000,9.280000e+02,1.591000e+03,2.853000e+03,7.495300e+04
Area (km2),21759.0,1.112418e+05,3.203746e+05,664.000000,1.678700e+04,4.201300e+04,7.546800e+04,1.916907e+06
Population,21759.0,1.547817e+07,4.483574e+07,648407.000000,1.999539e+06,4.216171e+06,9.095591e+06,2.651855e+08
Population Density,21759.0,7.449898e+02,2.743210e+03,8.590000,4.779000e+01,1.038400e+02,2.627000e+02,1.633431e+04
Longitude,21759.0,1.136808e+02,9.857587e+00,96.910522,1.061090e+02,1.134177e+02,1.212011e+02,1.386960e+02
Latitude,21759.0,-2.731868e+00,3.608264e+00,-8.682205,-6.204699e+00,-2.461746e+00,2.120369e-01,4.225615e+00
New Cases per Million,21759.0,2.939303e+01,6.994109e+01,0.000000,1.750000e+00,8.160000e+00,2.626000e+01,1.348130e+03
Total Cases per Million,21759.0,6.183651e+03,1.028812e+04,0.010000,4.159150e+02,2.727460e+03,7.374120e+03,7.966379e+04
New Deaths per Million,21759.0,8.527267e-01,2.277310e+00,0.000000,0.000000e+00,1.800000e-01,7.500000e-01,6.380000e+01
Total Deaths per Million,21759.0,1.635422e+02,2.541958e+02,0.000000,1.088000e+01,7.355000e+01,1.958500e+02,1.533980e+03
Total Deaths per 100rb,21759.0,1.635419e+01,2.541960e+01,0.000000,1.090000e+00,7.350000e+00,1.958500e+01,1.534000e+02
Growth Factor of New Cases,20572.0,1.395671e+00,3.080207e+00,0.000000,6.500000e-01,9.900000e-01,1.330000e+00,1.750000e+02
Growth Factor of New Deaths,19292.0,1.074145e+00,1.578502e+00,0.000000,6.600000e-01,1.000000e+00,1.000000e+00,1.345000e+02

In [7]:
covid_df[obj_columns].describe().T

                     count unique            top   freq
Date                 21759    643      1/16/2021     35
Location ISO Code    21759     35          ID-JK    642
Location             21759     35    DKI Jakarta    642
Location Level       21759      2       Province  21117
Province             21117     34    DKI Jakarta    642
Country              21759      1      Indonesia  21759
Continent            21759      1           Asia  21759
Island               21117      7       Sumatera   6208
Time Zone            21117      3      UTC+07:00  11245
Special Status        3123      3  Daerah Khusus   1854
Case Fatality Rate   21759   1316          0.00%    443
Case Recovered Rate  21759   6067          0.00%    258

## Data Cleaning

In [8]:
covid_df = covid_df.drop(['City or Regency','Location ISO Code','Province','Country','Continent',
                        'Island','Time Zone','Special Status','Total Regencies','Total Cities',
                        'Total Rural Villages','New Cases per Million','Total Cases per Million',
                        'New Deaths per Million','Total Deaths per Million','Case Fatality Rate',
                        'Case Recovered Rate','Growth Factor of New Cases','Growth Factor of New Deaths',
                        'Total Districts','Total Urban Villages',],axis = 1)
covid_df.head()

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,Area (km2),Population,Population Density,Longitude,Latitude,Total Deaths per 100rb
0,3/1/2020,DKI Jakarta,2,0,0,2,39,20,41,-22,Province,664,10846145,16334.31,106.836118,-6.204699,0.18
1,3/2/2020,DKI Jakarta,2,0,0,2,41,20,41,-20,Province,664,10846145,16334.31,106.836118,-6.204699,0.18
2,3/2/2020,Indonesia,2,0,0,2,2,0,0,2,Country,1916907,265185520,138.34,113.921327,-0.789275,0.00
3,3/2/2020,Riau,1,0,0,1,2,0,3,-1,Province,87024,6074100,69.80,101.805109,0.511648,0.00
4,3/3/2020,DKI Jakarta,2,0,0,2,43,20,41,-18,Province,664,10846145,16334.31,106.836118,-6.204699,0.18

## Data Exploration

In [9]:
covid_df.Location.unique()

array(['DKI Jakarta', 'Indonesia', 'Riau', 'Jawa Barat', 'Banten',
       'Jawa Tengah', 'Sulawesi Tenggara', 'Bali', 'Kalimantan Timur',
       'Daerah Istimewa Yogyakarta', 'Sumatera Utara', 'Jawa Timur',
       'Kepulauan Riau', 'Sulawesi Selatan', 'Jambi', 'Maluku', 'Papua',
       'Maluku Utara', 'Sumatera Selatan', 'Aceh', 'Kalimantan Tengah',
       'Lampung', 'Sulawesi Tengah', 'Sulawesi Utara', 'Sumatera Barat',
       'Papua Barat', 'Kalimantan Utara', 'Sulawesi Barat',
       'Kalimantan Barat', 'Kalimantan Selatan',
       'Kepulauan Bangka Belitung', 'Bengkulu', 'Nusa Tenggara Barat',
       'Nusa Tenggara Timur', 'Gorontalo'], dtype=object)

In [10]:
covid_df.groupby(covid_df["Location"]).mean().sort_values(by='Total Recovered', ascending=False).head(10)

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Area (km2),Population,Population Density,Longitude,Latitude,Total Deaths per 100rb
Location,,,,,,,,,,,,,,
Indonesia,6631.219626,224.077882,6395.140187,12.001558,1.447226e+06,44763.917445,1.301800e+06,100661.914330,1916907.0,265185520.0,138.34,113.921327,-0.789275,16.880171
DKI Jakarta,1345.806854,21.146417,1323.728972,0.931464,3.249128e+05,5328.425234,3.075940e+05,11990.347352,664.0,10846145.0,16334.31,106.836118,-6.204699,49.127040
Jawa Barat,1106.146875,23.026563,1081.395313,1.725000,2.353360e+05,4145.828125,2.128147e+05,18375.464062,35378.0,45161325.0,1276.55,107.603708,-6.920432,9.179813
Jawa Tengah,766.039370,47.587402,716.266142,2.185827,1.647274e+05,8957.006299,1.401550e+05,15615.422047,32801.0,36364072.0,1108.64,110.201115,-7.259097,24.631606
Jawa Timur,639.147200,47.464000,590.915200,0.768000,1.405117e+05,10372.416000,1.246469e+05,5492.379200,47803.0,40479023.0,846.78,112.732941,-7.723346,25.624160
Kalimantan Timur,251.581876,8.662957,242.785374,0.133545,5.462380e+04,1637.260731,4.973697e+04,3249.570747,129067.0,3552191.0,27.52,116.468441,0.453858,46.091638
Sulawesi Selatan,176.152244,3.586538,172.482372,0.083333,4.563586e+04,845.708333,4.221724e+04,2572.911859,46717.0,9426885.0,201.78,120.162056,-3.731081,8.971298
Daerah Istimewa Yogyakarta,250.030303,8.393939,240.771930,0.864434,4.488855e+04,1362.030303,3.915744e+04,4369.079745,3133.0,3631015.0,1158.90,110.444878,-7.894502,37.511212
Riau,200.973479,6.410296,193.634945,0.928237,4.233872e+04,1204.636505,3.888169e+04,2252.396256,87024.0,6074100.0,69.80,101.805109,0.511648,19.832340
Banten,208.309262,4.211931,203.766091,0.331240,4.219260e+04,949.226060,3.874748e+04,2495.899529,9663.0,10722374.0,1109.64,106.109004,-6.456736,8.852826

## Hypotesis Testing

H0 = Provinsi Jawa Barat, Jawa Timur, dan Jawa Tengah memiliki rata-rata kesembuhan yang signifikan berbeda

H1 = Provinsi Jawa Barat, Jawa Timur, dan Jawa Tengah memiliki rata-rata kesembuhan yang Tidak signifikan berbeda

In [11]:
jawa_df = covid_df.query('Location == "Jawa Barat" or Location == "Jawa Timur" or Location == "Jawa Tengah"')
jawa_df.head()

,Date,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,Area (km2),Population,Population Density,Longitude,Latitude,Total Deaths per 100rb
6,3/3/2020,Jawa Barat,1,1,0,0,1,1,8,-8,Province,35378,45161325,1276.55,107.603708,-6.920432,0.0
10,3/4/2020,Jawa Barat,1,0,0,1,2,1,8,-7,Province,35378,45161325,1276.55,107.603708,-6.920432,0.0
14,3/5/2020,Jawa Barat,1,0,0,1,3,1,8,-6,Province,35378,45161325,1276.55,107.603708,-6.920432,0.0
19,3/6/2020,Jawa Barat,1,0,0,1,4,1,8,-5,Province,35378,45161325,1276.55,107.603708,-6.920432,0.0
24,3/7/2020,Jawa Barat,0,0,0,0,4,1,8,-5,Province,35378,45161325,1276.55,107.603708,-6.920432,0.0

In [23]:
jawa_barat = jawa_df[jawa_df['Location'] == 'Jawa Barat'].groupby(jawa_df['Date']).sum()['Total Recovered']
jawa_tengah = jawa_df[jawa_df['Location'] == 'Jawa Tengah'].groupby(jawa_df['Date']).sum()['Total Recovered']
jawa_timur = jawa_df[jawa_df['Location'] == 'Jawa Timur'].groupby(jawa_df['Date']).sum()['Total Recovered']

print('Rata-rata kesembuhan Provinsi Jawa Barat  : ',jawa_barat.mean())
print('Rata-rata kesembuhan Provinsi Jawa Tengah : ',jawa_tengah.mean())
print('Rata-rata kesembuhan Provinsi Jawa Timur  : ',jawa_timur.mean())

Rata-rata kesembuhan Provinsi Jawa Barat  :  212814.675
Rata-rata kesembuhan Provinsi Jawa Tengah :  140154.95118110237
Rata-rata kesembuhan Provinsi Jawa Timur  :  124646.8768

In [24]:
f_stat,p_value = stats.f_oneway(jawa_barat,jawa_tengah,jawa_timur)
print('P-value:',p_value)

P-value: 3.461817564841803e-18

Karena P-value kurang dari 0.05 maka H0 gagal ditolak sehingga Provinsi Jawa Barat, Jawa Timur, dan Jawa Tengah memiliki rata-rata kesembuhan yang signifikan berbeda