# Perkenalan Ini telah di edit
- Nama : Farhan Zahirsyah
- Alamat : Bandung

# Tipe Data
- Integer
- String
- Boolean
- Float

In [1]:
print('Hello WOrld')

Hello WOrld

In [2]:
print(2)
print(type(30))

2
<class 'int'>

In [3]:
print(type(1.2))

<class 'float'>

In [6]:
print(.3)
print(type(.3998e2))

0.3
<class 'float'>

In [8]:
x = 3
print(type(x))
y = float(x)
y

<class 'int'>

3.0

# String

In [12]:
print('HOLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLAAAAAAAAAAAAAAAAAAAAAAA')
print("HOLLLLLLLLLLLLLLLLLLLLLLOOO")
print('''
HOLOWW

''')

HOLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLAAAAAAAAAAAAAAAAAAAAAAA
HOLLLLLLLLLLLLLLLLLLLLLLOOO

HOLOWW

In [16]:
print(f'''
        hoolllooo-----------------
---{x}----
wowowowo
''')

        hoolllooo-----------------
---3----
wowowowo

In [17]:
print('akshdashdlaksd  askd alksjd alsjdals daslk \
    sadjhasjdhasdhasldashdlkas aslkdal skdjaskldjlasd')

akshdashdlaksd  askd alksjd alsjdals daslk     sadjhasjdhasdhasldashdlkas aslkdal skdjaskldjlasd

In [18]:
print('Sardi'+ ' 3 0')

Sardi 3 0

In [19]:
print('sardi',33)

sardi 33

# BOOLEAN

In [20]:
print(bool(''))

False

In [21]:
print(bool(True))

True

# Round

In [26]:
x = round(3.179)
x

3

In [28]:
x= 3.945
print(int(x))

3

# Comment

In [30]:
# Komentar disini
print('upw')
# cara cepetnya ctrl + /

upw

In [31]:
Tinggi = 179

In [35]:
myVariableName = 'Camel Case'
MyVariableName = 'Pascal'
my_variable_name = 'Snake Case'

# List

In [51]:
list1 =  ['mobil','motor','sepeda','sepeda','Pesawat','becak']
print(list1)

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']

In [52]:
print(list1[0])
print(list1[2])

mobil
sepeda

In [53]:
print(list1[1:3])

['motor', 'sepeda']

In [54]:
print(list1[-2])

Pesawat

In [55]:
print(list1[1:4:2])

['motor', 'sepeda']

In [56]:
list1

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']

In [58]:
list1.append('Honda')
list1

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak', 'Honda', 'Honda']

In [59]:
list1.insert(1,'Toyota')

In [60]:
list1

['mobil',
 'Toyota',
 'motor',
 'sepeda',
 'sepeda',
 'Pesawat',
 'becak',
 'Honda',
 'Honda']

In [62]:
list1.pop(1)
list1

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak', 'Honda']

In [64]:
list1.remove('Honda')

In [65]:
list1

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']

In [67]:
list2 = ['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']
mylist = list1.copy()
print(list1)
print(list2)
print(mylist)

['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']
['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']
['mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak']

# Tuple

In [69]:
tuple1 = tuple(list2)

In [70]:
tuple1

('mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak')

# Dictionary

In [72]:
this_dict = {
    'brand' : 'Toyota',
    'Model' : 'Kijang',
    'Year' : 2009
}

print(this_dict)
print(len(this_dict))

{'brand': 'Toyota', 'Model': 'Kijang', 'Year': 2009}
3

In [75]:
x = this_dict['Year']
x

2009

In [77]:
this_dict.keys()

dict_keys(['brand', 'Model', 'Year'])

In [78]:
this_dict.values()

dict_values(['Toyota', 'Kijang', 2009])

In [79]:
this_dict.items()

dict_items([('brand', 'Toyota'), ('Model', 'Kijang'), ('Year', 2009)])

In [81]:
this_dict['color'] = 'Yellow'
this_dict

{'brand': 'Toyota', 'Model': 'Kijang', 'Year': 2009, 'color': 'Yellow'}

In [82]:
this_dict.pop('color', None)

'Yellow'

In [83]:
this_dict

{'brand': 'Toyota', 'Model': 'Kijang', 'Year': 2009}

# Set

In [85]:
mysets = {'mobil', 'motor', 'sepeda', 'sepeda', 'Pesawat', 'becak'}
mysets

{'Pesawat', 'becak', 'mobil', 'motor', 'sepeda'}

In [ ]:
# tidak ada duplikat, tidak teratur, didalam kurung kurawal