## Conditional and Looping

In [2]:
angka = 46
print(angka)
print(f"{angka} lebih besar dari 30")

46
46 lebih besar dari 30

In [1]:
True

True

In [2]:
False

False

In [3]:
angka = 24
if True:
    print(f'{angka} lebih besar dari 1')

24 lebih besar dari 1

In [6]:
angka = 33
if angka > 30:
    print(f'{angka} lebih besar dari 30')
else:
    print(f'{angka} lebih kecil dari 30')

33 lebih besar dari 30

In [9]:
angka = 15
if (angka % 2) != 1:
    print(f'{angka} adalah angka genap')
else:
    print(f'{angka} adalah angka ganjil')

15 adalah angka ganjil

In [21]:
bahasa_pemrograman = ['python','java','golang']
bahasa = "html"

if bahasa in bahasa_pemrograman:
    print(f'{bahasa} ada di bahasa_pemrograman')
else:
    print(f'{bahasa} tidak ada di bahasa_pemrograman')

html tidak ada di bahasa_pemrograman

In [15]:
biodata = {'nama':'Afif','pekerjaan':'data scientist','umur':20}
'umur' in biodata.values()

False

#### Nested if

In [23]:
angka = 100
if (angka % 2) != 1:
    print(f'{angka} adalah angka genap')
    if angka >10:
        print(f'{angka} lebih besar dari 10')
    else:
        print(f'{angka} lebih kecil dari 10')
else:
    print(f'{angka} adalah angka ganjil')

100 adalah angka genap
100 lebih besar dari 10

In [44]:
nilai = 90.5

if nilai>100 or nilai<0:
    print('nilai invalid')
elif nilai >=85:
    print('nilainya "A"')
elif nilai >= 70:
    print('nilainya "B"') 
elif nilai >=50:
    print('nilainya "C"')
elif nilai >=25:
    print('nilainya "D"')
elif nilai>=0:
    print('nilainya "E"')

nilainya "A"

In [45]:
if nilai in range(85,100):
    print('A')

## Looping

In [51]:
i = 0
while i < 5:
    print(f'i={i}, dalam while loop')
    i = i +1

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [53]:
i= 0
while i <=10:
    perkalian = i * 7
    print(f'{i} x 7 = {perkalian}')
    i = i + 1

0 x 7 = 0
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

## Nested loop tabel perkalian

In [59]:

j = 1
while j <= 10:
    i = 1
    while i <= 10:
        print(f'{j} x {i} = {j*i}')
        i = i + 1
    print("*"*10)
    j = j + 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**********
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**********
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**********
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**********
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**********
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**********
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**********
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**********
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**********
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**********

In [61]:
pesanan = []
while True:
    pesan = input("Masukan Peasanan Anda : ")
    if pesan == 'cukup':
        break
    pesanan.append(pesan)
print(pesanan)

['asd']

In [64]:
# Continue

i= 0
while i <=10:
    i = i + 1
    if i == 5:
        print('hilang kali 5')
        continue
    perkalian = i * 7
    print(f'{i} x 7 = {perkalian}')

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
hilang kali 5
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
11 x 7 = 77

### Looping For

In [68]:
buah = ['pepaya','mangga','pisang','jambu']
for item in buah:
    print(item)

pepaya
mangga
pisang
jambu

In [72]:
i = 0
buah = ['pepaya','mangga','pisang','jambu']
while i < len(buah):
    print(buah[i])
    i = i +1

pepaya
mangga
pisang
jambu

In [74]:
for i in range(len(buah)):
    print(buah[i])

pepaya
mangga
pisang
jambu

In [79]:
for i in range(1,11):
    print(f'7 x {i} = {i*7}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [80]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} x {j} = {i*j}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [82]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
for i in range(1,11):
    if i ==5:
        break
    print(f'7 x {i} = {i*7}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [84]:
for i in range(1,11):
    if i == 5:
        continue
    print(f'7 x {i} = {i*7}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70