In [1]:
import pandas as pd
import numpy as np

In [2]:
# obj_columns = df.select_dtypes(include=['object']).columns.tolist()

def tambah(x,y):
    return x+y

tambah(10,3)

13

In [3]:
def kurang(m,n):
    return m-n

kurang(90,80)

10

In [4]:
df = np.arange(9)
df

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [9]:
for i in df:
    print(tambah(i+10,i-20))

-10
-8
-6
-4
-2
0
2
4
6

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8

In [15]:
df = pd.DataFrame(df)

a_df = df.select_dtypes(include=np.number).columns.tolist()
a_df

[0]