In [1]:
import requests

In [14]:
#get
url = 'http://127.0.0.1:5000/'
r = requests.get(url)
r.json()

{'age': 23, 'name': 'Farhan Zahirsyah', 'pekerjaan': 'Data Scientist'}

In [18]:
# post
URL = 'http://127.0.0.1:5000/change'
data = {'name': 'Farhan sadasdasda',
        'age': 252,
        'pekerjaan': 'Scientist'}

r = requests.post(URL, json=data)
r.text

'Data telah diubah'

In [20]:
URL = 'http://127.0.0.1:5000/iris'
data = {'sl': 1.4,
        'sw': 0.2,
        'pl': 0.5,
        'pw': 0.2}


r = requests.post(URL, json=data)
r.json()

{'code': 200,
 'result': {'classes': 'versicolor', 'prediction': '1'},
 'status': 'OK'}

In [22]:
URL = 'http://127.0.0.1:5000/titanic'
data = {'Passanger_Class': 1,
        'Gender':'male',
        'Age': 22,
        'Sibling_spouse': 1,
        'Parent_children': 1,
        'Fare': 33}

r = requests.post(URL, json=data)
r.json()

{'code': 200,
 'result': {'classes': 'Not Survived', 'prediction': '0'},
 'status': 'OK'}

In [25]:
Year_Birth = 1994
Education = 'Bachelor'
Marital_Status = 'Single'
Income = 334444
Kidhome = 2
Teenhome = 1
Dt_Customer = '2013-01-01'
Recency = 32
MntWines = 2
MntFruits = 3
MntMeatProducts = 10
MntFishProducts = 10
MntSweetProducts = 20
MntGoldProds = 20
NumDealsPurchases = 30
NumWebPurchases = 20
NumCatalogPurchases = 20
NumStorePurchases = 10
NumWebVisitsMonth = 10

In [ ]:
data_new = {
    'Year_Birth': Year_Birth,
    'Education': Education,
    'Marital_Status': Marital_Status,
    'Income': Income,
    'Kidhome': Kidhome,
    'Teenhome': Teenhome,
    'Dt_Customer': Dt_Customer,
    'Recency': Recency,
    'MntWines': MntWines,
    'MntFruits': MntFruits,
    'MntMeatProducts': MntMeatProducts,
    'MntFishProducts': MntFishProducts,
    'MntSweetProducts': MntSweetProducts,
    'MntGoldProds': MntGoldProds,
    'NumDealsPurchases': NumDealsPurchases,
    'NumWebPurchases': NumWebPurchases,
    'NumCatalogPurchases': NumCatalogPurchases,
    'NumStorePurchases': NumStorePurchases,
    'NumWebVisitsMonth': NumWebVisitsMonth
}

In [31]:
import pandas as pd

input_df = pd.DataFrame()
input_df['Year_Birth'] = [Year_Birth]
input_df['Education'] = Education
input_df['Marital_Status'] = Marital_Status
input_df['Income'] = Income
input_df['Kidhome'] = Kidhome
input_df['Teenhome'] = Teenhome
input_df['Dt_Customer'] = Dt_Customer
input_df['Recency'] = Recency
input_df['MntWines'] = MntWines
input_df['MntFruits'] = MntFruits
input_df['MntMeatProducts'] = MntMeatProducts
input_df['MntFishProducts'] = MntFishProducts
input_df['MntSweetProducts'] = MntSweetProducts
input_df['MntGoldProds'] = MntGoldProds
input_df['NumDealsPurchases'] = NumDealsPurchases
input_df['NumWebPurchases'] = NumWebPurchases
input_df['NumCatalogPurchases'] = NumCatalogPurchases
input_df['NumStorePurchases'] = NumStorePurchases
input_df['NumWebVisitsMonth'] = NumWebVisitsMonth


input_df.to_dict()

{'Year_Birth': {0: 1994},
 'Education': {0: 'Bachelor'},
 'Marital_Status': {0: 'Single'},
 'Income': {0: 334444},
 'Kidhome': {0: 2},
 'Teenhome': {0: 1},
 'Dt_Customer': {0: '2013-01-01'},
 'Recency': {0: 32},
 'MntWines': {0: 2},
 'MntFruits': {0: 3},
 'MntMeatProducts': {0: 10},
 'MntFishProducts': {0: 10},
 'MntSweetProducts': {0: 20},
 'MntGoldProds': {0: 20},
 'NumDealsPurchases': {0: 30},
 'NumWebPurchases': {0: 20},
 'NumCatalogPurchases': {0: 20},
 'NumStorePurchases': {0: 10},
 'NumWebVisitsMonth': {0: 10}}